<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicles</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>
<body>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
    <tr>
        <th>Vehicle ID</th>
        <th>Vehicle Type</th>
        <th>Vehicle Model</th>
        <th>Vehicle Brand</th>
        <th>Vehicle Plate</th>
        <th>Vehicle Mileage</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for vehicle in vehicles %}
    <tr>
        <td>{{ vehicle.eid }}</td>
        <td>{{ vehicle.etypeVehicle }}</td>
        <td>{{ vehicle.emodel }}</td>
        <td>{{ vehicle.ebrand }}</td>
        <td>{{ vehicle.eplate }}</td>
        <td>{{ vehicle.emileage }}</td>
        <td>
            <a href="/edit/{{ vehicle.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
            <a href="/delete/{{ vehicle.id }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<br>
<center><a href="/emp" class="btn btn-primary">Add New Vehicle</a></center>
</body>
</html>